SelfHost (Minimal)/SelfHost/bin/
SelfHost (Minimal)/SelfHost/obj/
SelfHost (Minimal)/SelfHost/packages/
Sistemas.WebResources/packages/
Sistemas.WebResources/Sistemas.WebResources/bin/
Sistemas.WebResources/Sistemas.WebResources/obj/
Sistemas.WebUI/bin/