
<div class="panel panel-primary">

    <div class="panel-heading">Unidades</div>
    <div class="panel-body">
        <div class="col-md-6">
            <a class="btn btn-primary" id="link" href="#" ng-click="vm.edit(0)"><i class="glyphicon glyphicon-file"></i>Nuevo</a>
        </div>
        <div class="col-xs-10 col-lg-6 col-md-6">
            <div class="input-group">
                <input type="text" id="searchText" class="form-control pull-right" placeholder="Search for..." ng-model="search_txt">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="text-muted glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Descripcion</td>
                        <td>Nemonico</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="unidad in vm.unidades">
                        <td>{{unidad.id}}</td>
                        <td>{{unidad.descripcion}}</td>
                        <td>{{unidad.nemonico}}</td>
                        <td><a ng-click="vm.edit(unidad.id)">Edit</a></td>
                        <td><a ng-click="vm.destroy(unidad.id)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
