
<div class="panel panel-primary">
    <div class="panel-heading">Nueva Unidad</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="unidadForm" name="unidadForm">

            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">ID</label>
                <div class="col-sm-6">
                    <input type="text" id="id" name="id" class="form-control" readonly="readonly"
                           ng-model="vm.unidad.id" placeholder="id" />

                </div>
            </div>
            <div class="form-group">
                <label for="descripcion" class="col-sm-3 control-label">Descripcion</label>
                <div class="col-sm-6">
                    <input type="text" id="descripcion" name="descripcion" class="form-control"
                           ng-model="vm.unidad.descripcion" ng-required="true" placeholder="descripcion" />
                </div>
            </div>
            <div class="form-group">
                <label for="nemonico" class="col-sm-3 control-label">Nemonico</label>
                <div class="col-sm-6">
                    <input type="text" id="nemonico" name="nemonico" class="form-control"
                           ng-model="vm.unidad.nemonico" ng-required="true" placeholder="nemonico" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-sm-offset-3 col-md-offset-3">
                    <button id="cancelButton" name="cancelButton" class="btn btn-danger"
                            ng-click="vm.cancel()">
                        <i class="glyphicon glyphicon-thumbs-down"></i> Cancelar
                    </button>
                    <button id="submitButton" name="submitButton" class="btn btn-primary"
                            ng-click="vm.save()">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Guardar
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>



